//Common variables for light and dark themes
$blue_accent: #0b7fba;

//Light theme variables
$light_sidebar_bg: #072838;
$light_sidebar_color: #d1cdcd;
$light_font_color: #202029;
$light_sidebar_list_bg: #072838;
$light_sidebar_list_border: #a9a9ac;
$light_profile_form_stroke: #b4b4b4;

//Dark theme variables
$dark_sidebar_bg: #050509;
$dark_sidebar_color: #d1cdcd;
$dark_font_color: #d1cdcd;
$dark_sidebar_list_bg: #202029;
$dark_sidebar_list_border: #757373;
$dark_profile_form_stroke: #202029;
